# Python
__pycache__/
*.pyc
*.pyo

# 忽略所有 dataset 下的 pkl
**/dataset/*.pkl

# Virtual env
env/
venv/

# Dataset
*.pkl
dataset/faces.pkl

# Build
build/
dist/

# Jetson cache
*.log
*.so

# VSCode or JetBrains IDEs
.vscode/
.idea/

